body {
  background-color: rgb(40, 158, 146);
  color: white;
  margin: 0;
}

/* Header & Navbar */

header {
  width: 100%;
  height: 120px;
  display: flex;
  top: 0;
  position: fixed;
  z-index: 2;
  background-color: rgb(4, 41, 26);
}

.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 200px;
  margin-left: auto;
}

.navbar ul {
  padding: 0;
}

.navbar li {
  display: inline-flex;
  font-size: 1.75em;
  font-weight: 400;
  margin: 0 20px;
  font-family: 'Figtree', sans-serif;
}

.navbar li a {
  color: white;
  text-decoration: none;
}

/* Navbar Animations */

.navbar li a:hover {
  color: rgb(40, 158, 146);
  transition: 600ms ease-out;
}

/* About Me */

/* Introduction */

#about-me {
  display: inline-flex;
  margin: 120px 0 25px 0;
  padding: 25px 0 0 0;
  width: 100%;
  background-color: rgb(4, 41, 26);
}

.introduction {
  width: 50%;
  margin-left: 100px;
}

.introduction h1 {
  font-size: 4.5em;
  margin-top: 50px;
  margin-bottom: 25px;
  font-family: 'Alata', sans-serif;
}

.introduction h2 {
  font-size: 2.5em;
  margin: auto;
  font-family: 'Alata', sans-serif;
}

.introduction h3 {
  font-size: 1.5em;
  margin-top: 40px;
  font-family: 'Zen Dots', cursive;
  color:rgb(40, 158, 146);
}

.introduction h4 {
  font-size: 1.25em;
  font-family: 'Figtree', sans-serif;
  color: rgb(40, 158, 146);
  padding-right: 140px;
  margin: 50px 0 50px 0;
  line-height: 2.5;
}

/* Portrait */

.portrait {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin-right: 100px;
}

.portrait img {
  display: flex;
  justify-items: center;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
  margin: 40px 0 30px 0;
}

.portrait h3 {
  font-size: 1.5em;
  font-family: 'Zen Dots', cursive;
  color:rgb(40, 158, 146);
}

#main-button {
  font-family: 'Alata', sans-serif;
  font-size: 1.25em;
  color: rgb(4, 41, 26);
  background-color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1.25em 1.25em;
  margin: 15px 0 50px 0;
}

#main-button:hover {
  border: 2px solid rgb(40, 158, 146);
  color: white;
  background-color: rgb(40, 158, 146);
  transition: 600ms ease-out;
}

/* Projects */

#projects {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  top: 0;
}

#projects h2 {
  font-family: 'Zen Dots', cursive;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  color:rgb(4, 41, 26);
  margin: 60px 0 60px 0;
  top: 0;
}

/* Projects - Project One */

.project-one {
  display: inline-flex;
  margin: 40px 100px 40px 100px;
}

.project-one h3 {
  color: white;
  font-family: 'Figtree', sans-serif;
  font-size: 2.5em;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 50px 0 50px;
  font-weight: 400;
}

.project-one img {
  width: 80%;
  height: auto;
}

/* Projects - Project Two */

.project-two {
  display: inline-flex;
  margin: 40px 100px 40px 100px;
}

.project-two h3 {
  color: white;
  font-family: 'Figtree', sans-serif;
  font-size: 2.5em;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 50px 0 50px;
  font-weight: 400;
}

.project-two img {
  width: 80%;
  height: auto;
}

/* Projects - Project Three */

.project-three {
  display: inline-flex;
  margin: 40px 100px 60px 100px;
}

.project-three h3 {
  color: white;
  font-family: 'Figtree', sans-serif;
  font-size: 2.5em;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0 50px 0 50px;
  font-weight: 400;
}

.project-three img {
  width: 80%;
  height: auto;
}

/* Contact Me */

#contact-me {
  display: flex;
  flex-direction: column;
  background-color: rgb(4, 41, 26);;
}

#contact-me h2 {
  font-family: 'Zen Dots', cursive;
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  color:rgb(40, 158, 146);
  margin: 60px 0 60px 0;
}

.contacts {
  display: inline-flex;
  margin-bottom: 60px;
  justify-content: center;
  align-items: center;
}

.address {
  margin: 0 100px 0 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.address p {
  font-family: 'Alata', sans-serif;
  font-size: 1.5em;
  line-height: 0.25;
}

.map {
  margin: 0 100px 0 100px;
}

/* Media Queries */

@media only screen and (min-width: 320px) and (max-width: 830px) {

  /* Navigation Bar */

  .navbar {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar ul {
    padding: 0;
  }
  
  .navbar li {
    display: inline-flex;
    font-size: 1.125em;
    font-weight: 400;
    margin: 0 20px;
    font-family: 'Figtree', sans-serif;
  }

  /* About Me */
  /* Introduction */

  #about-me {
    display: flex;
    flex-direction: column;
  }

  .introduction {
    font-size: 0.75em;
  }
  
  .introduction h1 {
    font-size: 3em;
    margin-top: 25px;
  }
  
  .introduction h2 {
    font-size: 2em;
  }
  
  .introduction h3 {
    font-size: 1.5em;
  }
  
  .introduction h4 {
    font-size: 1.5em;
    padding-right: 0;
    margin: 25px 0 25px 0;
    line-height: 1.5;
  }

  /* Portrait */

  .portrait {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 100px;
  }
  
  .portrait img {
    display: flex;
    justify-items: center;
    max-width: 250px;
  }
  
  .portrait h3 {
    font-size: 1.25em;
    text-align: center;
  }

  /* Projects */

  #projects {
    display: flex;
    flex-direction: column;
  }
  
  #projects h2 {
    top: 0;
    font-size: 1.5em;
    margin: 30px 0 30px 0;
  }

  /* Projects - Project One & Project Three */

  .project-one, .project-two, .project-three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 0 50px 40px 50px;
  }
  
  .project-one h3, .project-three h3 {
    font-size: 1.75em;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 50px 0 50px;
    font-weight: 400;
  }
  
  .project-one img, .project-three img {
    padding: 0 0 0 48px;
  }

  /* Projects - Project Two */

  .project-two h3 {
    font-size: 1.75em;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0 50px 0 50px;
    font-weight: 400;
    order: 1
  }

  .project-two img {
    padding: 0 0 0 48px;
    order: 2
  }

  /* Contact Me */

  #contact-me {
    display: flex;
    flex-direction: column;
  }
  
  #contact-me h2 {
    font-size: 1.5em;
    margin: 50px 0 30px 0;
  }
  
  .contacts {
    display: flex;
    flex-direction: column;
  }
  
  .address {
    display: flex;
    text-align: center;
    margin: 0 100px 40px 100px;
  }
  
  .address p {
    font-size: 1.25em;
    line-height: 0.25;
  }

}

/* Font Faces */

@font-face {
  font-family: 'Alata', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Alata-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Zen Dots', cursive;
  font-style: normal;
  font-weight: 400;
  src: url('fonts/ZenDots-Regular.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Figtree', sans-serif;
  font-style: normal;
  font-weight: 300;
  src: url('fonts/Figtree-VariableFont_wght.ttf') format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}